.navbar-container{
    background-color: black;
}
.navbar{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75rem;
    margin: 0 auto;
}

.brand-logo{
    font-size: 2.188rem;
    color: white;
}
.doc{
    color: rgb(163 0 0);
}
.nav-CustomLinks{
    display: flex;
}
.nav-CustomLinks li{
    list-style: none;
}
.link{
    margin: 0 1.25rem;
    text-decoration: none;
    font-weight: 400;
}
.icon{
    display: none;
}

@media only screen and (max-width: 576px) {
    
    .navbar{
        width: 100%;
        position: relative;
    }
    .navbar-container{
        background-color: black;
    }
    .nav-CustomLinks{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        width: 100%;
        transition: 0.5s ease-in-out;

    }
    .link{
        display: block;
        padding : 0.5rem 0;
    }
    .icon{
        display: block;
        color: white;
        padding-right: 1.563rem;
    }
    .brand-logo{
        padding-left: 1.563rem;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px){
    .navbar-container{
        background-color: black;
    }
    .navbar{
        width: 100%;
        margin: 0 auto;
    }
    .brand-logo{
        padding-left: 1.563rem;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px){
    .navbar-container{
        background-color: black;
    }
    .navbar{
        width: 100%;
        margin: 0 auto;
    }
    .brand-logo{
        padding-left: 1.563rem;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px){
    .navbar-container{
        background-color: black;
    }
    .navbar{
        width: 100%;
        margin: 0 auto;
    }
    .brand-logo{
        padding-left: 1.563rem;
    }
}